.faq__card-question {
  list-style: none;
  margin: 2rem;
  font-size: 1.20rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq__ans {
  margin: 2rem;
  background-color: #102a51;
  padding: 2rem;
  border-radius: 10px;
}
