.header {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header__animation-container {
  width: 40%;
  display: flex;
  align-items: center;
}

.header__text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.header__text p {
  font-size: 5rem;
}

.header__text div {
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .header__animation-container {
    width: 100%;
  }
}
