.fade-animation {
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

.fade-animation.show {
  opacity: 1;
  transform: translateY(-100%);
}

nav {
  color: var(--color-text);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  margin-top: 0;
  padding: 2rem 2rem;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.nav__brand {
  font-size: 25px;
  color: var(--color-text);
  background-color: transparent;
}

.nav__brand span {
  font-weight: 800;
  background-color: transparent;
}

.nav__links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

.nav__links-link {
  margin: 0 0.75rem;
  background-color: transparent;
  font-size: 15px;
  font-family: var(--font-base);
  text-transform: uppercase;
}
.nav__links-link a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text);
}
.nav__links-link a.active,
.nav__links-link a:hover {
  color: var(--color-text);
  font-weight: bold;
}
.nav__mobile {
  display: none;
  margin: 2rem 1rem;
  padding: 0rem 1rem;
  justify-content: space-between;
  height: fit-content;
}

.menu-icon__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_mobile-container {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  position: fixed;
  scroll-behavior: auto;
}

.navbar-menu_container-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-bg);
  margin: 1rem;
  /* height: 100vh; */
}

.navbar-menu_container-link {
  background-color: var(--color-bg);
  padding: 1rem 0;
}

.navbar-menu_container-link a {
  color: var(--color-text);
  text-decoration: none;
  background: none;
}

.nav__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 1rem;
  background-color: transparent;
}

@media (max-width: 900px) {
  nav {
    display: none;
  }
  .nav__mobile {
    display: flex;
  }
}
