button {
  background-color: var(--color-text);
  border: none;
  font-size: 12px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--color-bg);
  font-family: var(--font-base);
  font-weight: 600;
  cursor: pointer;
}

.action__button {
  background-color: var(--gradient__text);
}
