.SingleBlog__header {
  /* text-align: center; */
  height: fit-content;
  margin: 0 20%;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.SingleBlog__header h4 {
  padding: 1rem 0;
  font-weight: 500;
  color: rgb(224, 210, 210);
}
.SingleBlog__coverimage {
  height: 70vh;
  width: 100%;
  background-color: red;
  background-size: cover;
  scroll-behavior: smooth;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  background: inherit linear-gradient(to bottom, black 50%, transparent);
}

.SingleBlog__header_title {
  background-color: transparent;
  text-align: center;
  /* padding-top: 70vh; */
}

.SingleBlog__header-author__image {
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.SingleBlog__header-author__image span {
  /* padding-left: 1rem; */
  color: white;
}
.SingleBlog__header-author__image span button {
  background-color: transparent;
  color: #0468d7;
  font-size: 1rem;
}

.SingleBlog__header-author__image img {
  border-radius: 50%;
  border: 1px solid white;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  overflow: hidden;
}

.SingleBlog__header-authorname {
  font-weight: 400;
}
.SingleBlog__header-authorname span {
  font-weight: 600;
}

.SingleBlog__header-date {
  color: grey;
  padding: 0.5rem 0;
}

.SingleBlog__header-content {
  /* padding: 2rem 0; */
  text-align: justify;
}
