.trending {
  padding: 2rem;
}

.trending > p {
  text-align: left;
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 2rem;
  padding: 0 1rem;
  background-color: transparent;
  color: var(--color-text);
}

.trending p span {
  background-color: transparent;
  vertical-align: middle;
  padding: 0 0.5rem;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-area: auto;
}

@media (max-width: 550px) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .trending > p {
    font-size: 1.5rem;
    text-align: center;
  }
}
