.about__page-heading {
  padding-top: 2rem;
  font-size: 5rem;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-top: 4rem;
}

.about__page-heading span {
  font-weight: 700;
}

@media (max-width: 900px) {
  .about__page-heading {
    font-size: 3rem;
  }
}
